<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        {
            background-color: rgb(53, 52, 52);
        }
        .card{
            width: 30%;
            margin: auto;
            box-shadow: 0px 0px 10px 1px rgb(54, 54, 54);
            display: block;
          
        }
        .mainImg{
            border-radius: 1rem;
        }
        .mainImg img{
            height: 300px;
            width: 99%;
            border-bottom: 2px inset black;
            
        }
        .user{
            margin-top: 10px;
        }
        .name{
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid black;
            font-size: 24px;
            font-weight: 700;
            
        }
        .name img{
            border-radius: 50%;
            height: 60px;
            width: 60px;
            
        }
        .body{
            display: grid;
            justify-content: center;
            text-align: center;
            border-bottom: 1px solid black;
        }
        .like{
            height: 80px;
            display: flex;
            justify-content:space-around;

        }
        .like img{
            height: 50px;
            width: 4rem;

        }
        html{
            font-size: 100%;
        }
        @media (max-width:998px){
            html{
                font-size: 80%;
            }
        }
        @media (max-width:768px){
            html{
                font-size: 50%;
            }
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>